body{
        @apply m-0 p-0;
        font-family: 'Ubuntu';
    }

    nav{
        .contact-nav{
        @apply bg-black text-white hidden md:block py-3 px-8 md:flex md:justify-end md:gap-2 cursor-pointer mb-2;
    
        .icons, .fa-phone-flip{
            @apply pr-2;
        }
    }
    .contact-nav a:hover{
        @apply underline;
    }

    .heading-nav{
        @apply text-center p-5 lg:p-0 lg:px-20;
    
        .img1{
        @apply w-[100%] md:w-auto lg:hidden;
        }
        .img2{
            @apply hidden lg:block xl:pl-20;
        }
    }

    .main-nav{
        @apply relative;
    }

    .main-nav ul{
        @apply grid bg-orange-600 lg:flex list-none xl:justify-center lg:p-0 lg:my-1;

        li{
            @apply px-2 py-4 lg:px-2 xl:px-4 xl:py-4 lg:leading-6;
        }
        a{
            @apply font-normal text-white no-underline block;
        }
    }
   .main-nav ul li:hover{
        @apply bg-black;
    }

    #toggle{
        @apply hidden;
    }
    .menu{
        @apply overflow-hidden lg:overflow-visible bg-orange-600;
        transition: max-height 0.3s ease;
    }
    #toggle:checked ~ .menu {
      max-height: 600px;
    }
.fa-bars{
  @apply py-2 px-5 text-gray-400 text-sm bg-gray-200 rounded-md lg:hidden;
}
.btn{
  @apply w-[100wh] py-3 pl-4 bg-orange-600 lg:hidden;
}
}
